.about {
    height: 330px;
    background-size: cover;
    background-position: 50% 60%;
    background-color: rgb(48, 26, 113);
    background-image: url(../img/home-banner.jpg);
    color: white;
    flex-direction: column;
}

.about a {
    text-decoration: none;
    color: white;
    margin-right: 0;
    margin-left: 0;
}

.about p {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
}

.about h1 {
    font-weight: 700;
    font-size: 38px;
}