@import url("https://fonts.googleapis.com/css?family=Rajdhani:600,700|Roboto:400,500,500i");

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
 /* line-height: 24px;
  font-size: 14px;
  
  font-weight: 500;
  color: #777777;*/ }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600; }
.main_width{
	max-width: 1150px;
	margin: auto;
}
header{
	background-color: rgb(48,26,113);
	height: 100px;
}
.fixed{
  position: fixed;
  top:0;
  left: 0;
  z-index: 99;
}
.header_container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main_nav{
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}
/*подсвечиваем ссылку навигации на текущую страницу*/
body#home a#homenav,
body#about a#aboutnav,
body#foods a#foodsnav,
body#lifestyle a#lifestylenav,
body#contact a#contactnav {
	color: #5bc3f9;
}
.nav_link{
	margin-right: 20px;
	margin-left: 20px;
	text-decoration: none;
	color: white;
	transition: 0.5s;
}
.nav_link:hover {
	color: #5bc3f9;
	transition: 0.5s;
}
.join_button {
	font-size: 14px;
	width: 150px;
	height: 40px;
	border-radius: 20px;
}
.btn_slide{
	background-image: linear-gradient(90deg, #5ec9fd, #a9feb3, #5ec9fd);
	background-size: 200%;
	background-position: left;
	transition:0.5s ;
}
.btn_slide:hover {
	transition:0.5s ;
	background-position: right;
}
.for_all{
	display: flex;
	align-items: center;
	height: 880px;
	width: 100%;
	background-position: 50% 50%;
    background-size: cover;
	background-image: url(../img/banner/home-banner.jpg); 
}
.for_all_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 700px;
	
	
}
.for_all_img {
	display: flex;
	align-items: center;
	width: 50%;
	height: 100%;
	/*background-position: 50% 50%;
    background-size: contain;
	background-image: url(../img/banner/home-left.png); */
}
.for_all_description {
	margin-left: 80px;
	width: 50%;
	color: white;
}
.for_all_description h1{
font-size: 60px;
font-weight: 700;
}
.for_all_description p {
	line-height: 1.5em;
	font-weight: 500;
}
.btn_video_box{
	display: flex;
	margin-top: 40px;
	margin-bottom: 100px;
}

.btn_video {
	color: black;
	margin-right: 50px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background: linear-gradient(90deg, #5ec9fd, #a9feb3);
	/*box-shadow: 0 0 0 10px rgba(28,208,0, 1);
	box-shadow: 0 0 0 1px rgb(28,208,255, 0.5); */  
  	animation: shadow 2s linear infinite;           
}
@keyframes shadow {
  from{
      box-shadow: 0 0 0 0px rgba(28,208,255, 0.5)
                }
   to{
      box-shadow: 0 0 0 15px rgba(28,208,255, 0.1)          
	}
}
.about_us {
	display: flex;
	align-items: center;
	position: relative;
	display: flex;
	margin-top: 120px;
	}
.about_us_description {
	width: 1000px;
	height: 450px;
	/* background: linear-gradient(to right, green 50%, red 50%);*/
	background: linear-gradient(90deg, #271560, #402c8c, #271560);
}
.about_us_img {
	height:370px;
	width: 530px;
	position: absolute;
	right: 0;
	background-position: 50% 50%;
    background-size: cover;
	background-image: url(../img/about_img.png); 
}
.about_us_description_txt {
	width: 420px;
	margin-left: 80px;
	margin-top: 80px;
	color: white;
}
.about_us_description_txt h1{
	font-size: 35px;
}
.about_us_description_txt p{
	line-height: 1.5em;
	font-size: 14px;
}
.about_us_description_txt h4 {
	margin-bottom:5px;
}
.line{
	/*margin-top: -30px; */
	width: 50px;
	height: 1px;
	background: linear-gradient(90deg, #5ec9fd, #a9feb3);
}
.learn_more_btn {
	color: black;
	border-radius: 5px;
	margin-top: 50px;
	font-size: 14px;
	width: 150px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.upcoming_games{
	margin-top: 50px;
}
.upcoming_games_back {
	display: flex;
	justify-content: center;
	font-size: 35px;
	color: #effaff;
	position: relative;
}
.upcoming_games_front {
	display: flex;
	justify-content: center;
	bottom: 10%;
	position: absolute;
	color: black;
	font-size: 24px;
}
.upcoming_games_imgs {
	display: flex;
	justify-content: space-between;
}
.upcoming_games_img {
	height: 328px;
	width: 246px;
	background-position: 50% 50%;
	background-size: 100%;
	display: flex;
	align-items: center;
	
}
.upcoming_games_img_1{
	background-image: url(../img/b_map1.png);
}
.upcoming_games_img_2{
	background-image: url(../img/b_map2.png);
}
.upcoming_games_img_3{
	background-image: url(../img/b_map3.png);
}
.upcoming_games_img_4{
	background-image: url(../img/b_map4.png);
}
.upcoming_games_txt_link {
	font-weight: 500;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(39,21,97, 0.7);
	height:60px;
	width: 100%;
	transition: 0.5s;
}

.upcoming_games_img:hover .upcoming_games_txt_link{
	background: linear-gradient(90deg, #5ec9fd, #a9feb3);
	color: black;
	transition: 0.5s;
}

.live_streaming {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	height: 800px;
	background-position: 50% 50%;
	background-size: cover;
	background-image: url(../img/recent_up_bg.png);
}
.live_streaming_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 550px;
}
.live_streaming_btns {
	height: 50px;
	display: flex;
	justify-content: space-between;
}
.live_streaming_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 100%;
	color : white;
	font-weight: 500;
	border: 2px solid transparent;
	border-image:  linear-gradient(90deg, #5ec9fd, #a9feb3);
	border-image-slice: 1; 
	transition: 0.5s;
}
.live_streaming_btn:hover {
	background: linear-gradient(90deg, #5ec9fd, #a9feb3);
	color: black;
	transition: 0.5s;
}
.live_streaming_content {
	
	height:450px;
	display: flex;


}
.live_streaming_content_img {
	width: 50%;
	height: 100%;
	background-position: 50% 50%;
	background-size: 100%;
	background-image: url(../img/recent_up.png);
}
.live_streaming_content_txt {
	width: 50%;
	height: 100%;
	background: linear-gradient(90deg, #402c8c, #271560);
}
.screens_gallery{
	margin-top: 100px;
}
.width-1{
	position: relative;
}
.img_g {
	overflow: hidden;
}
.width-2{
	position: relative;
}
.galary_eye{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: rgba(48,26,113, 0);
}
.galary_eye:hover {
	transition: 0.5s;
	background-color: rgba(48,26,113, 0.8);
}
.grid-item {
  margin-bottom: 26px;
}
.eye_icon {
	display: none;
	color: white;
}
.galary_eye:hover .eye_icon{
	display: flex;
	
} 

.funny_spancer{
	margin-top: 100px;
	height: 500px;
	padding:0 calc(50vw-560);
	background-position: 50% 50%;
	background-size: cover;
	background-image: url(../img/testimonial_bg.png);
	display: flex;
	justify-content: center;
}
.funny_spancer_content {
	width: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	font-size: 20px;
}
.stars {
	display: flex;
	color: gold;
}
.pricing_plans {
	margin-top: 100px;
}
.pacages{
	display: flex;
	justify-content: space-between;
}
.pacage {
	color: white;
	width: 31%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(90deg, #271560, #402c8c, #271560);
}
.pacage_1 {
height: 80px;
}
.price {
background-color: #402c8c;
height: 100px;
width: 100%;
font-size: 30px;
}
.flex_center {
	display: flex;
justify-content: center;
align-items: center;
}
.pacage_2  {
	width: 70%;
	margin-top: 50px;
	padding-bottom: 15px;
	border-bottom: 1px dashed grey;
}
.pacage_3 {
	width: 70%;
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed grey;
}
.pacage_4 {
width: 70%;
	margin-top: 15px;
	padding-bottom: 15px;
}
.orderer {
	height: 40px;
	width: 70%;
	margin-top: 20px;
	 border: double 2px transparent;
	  border-radius: 8px;
	  background-image: linear-gradient(90deg, #271560, #402c8c, #271560), radial-gradient(circle at top left, #5ec9fd,#a9feb3);
	  background-origin: border-box;
	  background-clip: content-box, border-box;
	/*border: 2px solid black;
	border-image:  linear-gradient(90deg, #5ec9fd, #a9feb3);
	border-image-slice: 1;
	border-radius: 8px;*/
}
.frequently_questions {
	margin-top: 100px;
}
.frequently_questions_block {
	display: flex;
	flex-wrap: wrap;
}
.question {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	height: 200px;
	box-sizing: border-box;
}
.left {
	padding-right: 100px;
	border-right: 1px dashed grey;
}
.right{
	padding-left: 100px;
}
.right2{
	border-bottom: 1px dashed grey;
	border-top: 1px dashed grey;
}
.question h3{
	color: #271560;
}
.question p {
	color: gray;
}
.block_posts {
	margin-top: 100px;

}
.block_posts_container {
	display: flex;
	justify-content: space-between;
}
.block_post {
	width: 31%;
}
.block_post_img {
	height: 200px;
	width: 100%;
	transition: 0.3s;
	background-size: 100% auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.post_img1 {
	background-image: url(../img/blog_img1.png);
}
.post_img2 {
	background-image: url(../img/blog_img2.png);
}
.post_img3 {
	background-image: url(../img/blog_img3.png);
}
.block_post_txt {
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content:center;
	background-color: #402c8c;
	height: 250px;
	width: 100%;
	color: white;
	transition: 0.3s;
}
.block_post:hover .block_post_img{
	transition: 0.3s;
	
	background-size: 110% auto;
}
.block_post:hover .block_post_txt {
	transition: 0.3s;
	background-color: #271560;
	}
.block_post:hover .block_post_txt h3{
	transition: 0.3s;
	background: linear-gradient(90deg, #5ec9fd, #a9feb3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block_post_icons {
	display: flex;
	
	margin-top: 20px;
}
.block_post_txt p{
	line-height: 1.5em;
	font-size: 14px;
}
.icon_stat{
	margin-right: 30px;
}
.subscribe {
	margin-top: 100px;
	height: 200px;
	width: 100%;
	background: linear-gradient(90deg, #5ec9fd, #a9feb3);
}
.subscribe_container {
	height: 100%;
	display: flex;
	align-items: center;
}
.subscribe_txt,
.form {
	width: 50%;
}
.subscribe_txt h1{
	margin-bottom: 0;
	font-size: 35px;
	color: #402c8c;
}
.subscribe_txt p{
	color: gray;
}
.form {
	display: flex;
	height: 50px;
	position: relative;
}
.input_subscribe {
	height: 50px;
	width: 100%;
	border-radius: 25px;
	border: none;
	padding-left: 20px;
	box-sizing: border-box;
}

.subscribe_btn {
	position: absolute;
	right: 0;
	color:black ;
	border: 4px solid white;
	box-sizing: border-box;
	width: 200px;
	border-radius: 25px;
	height:50px;
	
}
footer {
background: linear-gradient(90deg, #271560, #402c8c, #271560);
}
.footer_container_links {
	display: flex;
	border-bottom: 1px solid gray;
}
.column_link {
	display: flex;
	flex-direction: column;
	width: 25%;
	margin-bottom: 40px;
}
.column_link h3 {
	margin-top: 120px;
	margin-bottom: 40px;
	color: white;
}
.column_link a{
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: grey;
	margin-bottom: 20px;

}
.column_link a:hover{
	color: #5ec9fd;

}
.footer_container_copyrite {
	display: flex;
	justify-content: space-between;
	height: 100px;
	color: white;

}
.footer_icons {
	display: flex;
	justify-content: space-between;
	width: 150px;
	
}
.footer_icon {
	height: 30px;
	width: 30px;
	background-color: #4e4287;
}