.map {
	margin-top: 100px;
}
.contacts {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 150px;
}
.contact_info{
width: 25%;
}
.enter_fields{
	width: 35%
}
.contacts_contact {
	display: flex;
	align-items: baseline;
	margin-bottom: 30px;
}
.contact_icon {
	margin-right: 20px;
	color: #5ec9fd;
}
.contact_txt h3,
.contact_txt p{
	font-size: 14px;
margin: 0;

}
.contact_txt p{
	color: gray;
}
input, textarea {
	width: 390px;
	padding-left: 20px;
}
input {
	height: 30px;
	margin-bottom: 20px;
}
textarea { 
	height: 140px;  
}
.send_masage {
	border-radius: 5px;
	margin-top: 20px;
	font-size: 14px;
	width: 200px;
	height: 50px;
	float: right;
}